frontend_bucket_name = "example-landing-bucket"

tenant_account_email = "tenants@example.com"

backup_bucket_name = "example-backup-bucket"

stripe_secret_key = "sk_test_yourkey"
domain            = "example.com"
stripe_publishable_key = "pk_test_yourkey"
state_bucket_name = "example-tenant-state"
lock_table_name   = "tf-locks"
