frontend_bucket_name = "example-landing-bucket"

tenant_account_email = "tenants@example.com"

backup_bucket_name = "example-backup-bucket"

stripe_secret_key = "sk_test_yourkey"
domain            = "xylblox.com"
zone_id           = "Z123EXAMPLE"
stripe_publishable_key = "pk_test_yourkey"
state_bucket_name = "minecraft-tfstates"
server_table_name = "server-registry"
